@-moz-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.welcomePage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  :global {
    .top-content-wrapper {
      width: 100%;
      height: 100%;

      .background {
        position: absolute;
        z-index: -1;
      }

      .left-top {
        color: #ffffff;
        font-size: 22px;
        left: 20px;
        top: 20px;
        position: absolute;
        font-weight: bold;
      }

      .bottom-info {
        position: absolute;
        bottom: 110px;
        padding: 0 20px;
        h1 {
          font-size: 20px;
          font-weight: bold;
          color: #ffffff;
        }
        h2 {
          font-size: 16px;
          color: #ffffff;
          opacity: 0.8;
        }
      }

      .start-btn {
        bottom: 20px;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ffffff;
      }
    }

    @keyframes float {
      from {
        transform: translateY(0px);
      }

      25% {
        transform: translateY(-5px);
      }

      50% {
        transform: translateY(0px);
      }

      75% {
        transform: translateY(5px);
      }

      to {
        transform: translateY(0px);
      }
    }

    .animate-float :local {
      animation: float 4s ease-in-out infinite;
    }
  }
}

.form {
  background-color: #fff;
  height: 100%;
  width: 100%;
  transition: all ease 1s;
  top: 0;
  overflow: scroll;
  padding-top: 40px;
  :global {
    .circle-group {
      position: absolute;
      top: -100px;
      left: 0;
      display: flex;
      width: 100%;
      .circle {
        width: 50%;
        background-color: #ffffff;
        border-radius: 100%;
      }
    }

    .form {
      padding: 0 20px;
    }
    .bottom-message {
      background-color: #eeeeee;
      text-align: center;
      line-height: 80px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
